<p id="notice"></p>
<div class="container px-sm-0">
  <div id="error_explanation">
  </div>
  <div class="row ">
    <div class="col-md-2 my-3 bg-light text-center"><h3>会員一覧</h3></div>
  </div>
  <div class="row ">
    <div class="col-md-10 my-4 mx-auto border-top boder-secondary">
        <table class="table table-borderless">
          <tr class="bg-light">
            <th>会員ID</th>
            <th>氏名</th>
            <th>メールアドレス</th>
            <th>ステータス</th>
          </tr>
          <% @customers.each do |customer| %>
            <tr>
              <th><%= customer.id %></th>
              <th>
                <%= link_to admin_customer_path(customer.id), class: "text-dark border-bottom border-dark" do %>
                  <%= customer.last_name %>
                  <%= customer.first_name %>
                <% end %>
              </th>
              <th><%= customer.email %></th>
              <th>
                <% if customer.is_active %>
                  <div class="text-success">有効</div>
                <% else %>
                  <div class="text-muted">退会</div>
                <% end %>
              </th>
            </tr>
          <% end %>
        </table>
    </div>
  </div>
</div>