<p id="notice"></p>
<div class="container-fluid">
  <div id="error_explanation">
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-2 bg-light  text-center"><h3>注文情報確認</h3></div>
    <div class="col-md-5"></div>
    <div class="col-md-5 m-5">
      <table class="table table-bordered">
        <tr>
          <th>注文日</th>
          <td>
            <%= @order.created_at %>
          </td>
        </tr>
        <tr>
          <th>配送先</th>
          <td>
            <%= @order.shipping_postal_code %> <br>
            <%= @order.shipping_address %> <br>
            <%= @order.shipping_name %> <br>
          </td>
        </tr>
        <tr>
          <th>支払い方法</th>
          <td>
            <%= @order.pay_type_i18n %>
          </td>
        </tr>
        <tr>
          <th>ステータス</th>
          <td>
            <%= @order.status_i18n %>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-md-2 my-5">
      <table class="table table-bordered">
        <% total = 0 %>
        <%# @order.order_items.each do |order_item| %>
          <%# price = (order_item.item.price*order_item.quantity*1.10).round.to_i %>
        <%# end %>
        <tr>
          <th>送料</th>
          <% @order.postage = 800 %>
          <td><%= @order.postage %></td>
        </tr>
        <tr>
          <th>商品合計</th>
          <td>
            <% @order.order_items.each do |order_item| %>
              <% price = (order_item.item.price*order_item.quantity*1.10).round.to_i %>
              <% total += price %>
            <% end %>
            <%= total.round.to_s(:delimited) %>
          </td>
        </tr>
        <tr>
          <th>請求金額</th>
          <td><%= @order.billing_amount.round.to_s(:delimited)  %></td>
        </tr>
      </table>
    </div>
    <div class="col-md-7 m-5">
      <table class="table table-bordered">
        <tr>
          <th>商品</th>
          <th>単価(税込)</th>
          <th>数量</th>
          <th>小計</th>
        </tr>
        <% total = 0 %>
        <% @order.order_items.each do |order_item| %>
          <tr>
            <td>
              <%= order_item.item.name %>
            </td>
            <td>
              <%= (order_item.item.price).to_s(:delimited) %>
            </td>
            <td>
              <%= order_item.quantity %>
            </td>
            <td>
              <% price = ((order_item.item.price*order_item.quantity)*1.1).round .to_i %>
              <%= price.round.to_s(:delimited) %>
            </td>
          </tr>
          <% total += price %>
        <% end %>
      </table>
    </div>
  </div>
</div>