<p id="notice"></p>
<div class="container px-sm-0">
  <div id="error_explanation">
  </div>
  <div class="row ">
    <div class="col-md-2 m-4 bg-light text-center">
      <h3>ログイン</h3>
    </div>
  </div>
  <div class="row ">
    <div class="col-md-3 mx-5 my-3 bg-light text-center">
      会員の方はこちらからログイン
    </div>
  </div>
  <div class="row ">
    <div class="col-md-7 my-4 mx-auto">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <table class="table table-borderless">
          <tr>
            <th><%= f.label :メールアドレス %></th>
            <th><%= f.email_field :email, autofocus: true, autocomplete: "email", size: "40" %></th>
          </tr>
          <tr>
            <th><%= f.label :パスワード %></th>
            <th><%= f.password_field :password, autocomplete: "current-password", size: "40" %></th>
          </tr>
          <tr>
            <th></th>
            <th><%= f.submit "ログイン", class: "btn btn-primary w-25" %></th>
          </tr>
        </table>
      <% end %>
    </div>
  </div>
</div>

