<p id="notice"></p>
<div class="container-fluid">
  <div id="error_explanation">
  </div>
  <div class="row ">
    <div class="col-md-2 mx-5 text-center w-50 p-3">
      <div class="border border-dark m-4 h-75">
        <div class="border-bottom border-dark">
          <strong>ジャンル検索</strong>
        </div>
        <% @genres.each do |genre| %>
          <table>
            <tr>
              <th style="padding: 10px 20px">
                <%= genre.name %>一覧
              </th>
            </tr>
          </table>
        <% end %>
      </div>
    </div>
    <div class="col-md-3 my-4 mx-auto">
      <%= image_tag @item.get_image, size: "350x250" %>
    </div>
    <div class="col-md-5 my-4 mx-auto">

      <div style="font-size: 30px; padding: 10px 0;"><strong><%= @item.name %></strong></div>
      <div style="font-size: 25px; padding: 10px 0;"><%= @item.introduction %></div>
      <div style="font-size: 30px; padding: 100px 0 50px 0;">
        <strong>¥<%= (@item.price * 1.1).round .to_s(:delimited)%></strong>
        <span style="font-size: 15px;">（税込）</span>
        <% if @item.is_active %>
          <div class="text-success">販売中</div>
        <% else %>
          <div class="text-muted">販売停止中</div>
        <% end %>
      </div>
      <% if @item.is_active == true %>　<!--商品販売中の場合-->
        <%= form_with(model: @cart_item,url: cart_items_path, method: :post,local: true)do |f| %>
          <table>
            <tr>
              <th>
                <%= f.label :amount, "個数選択" %>
                <%= f.select :amount, [1,2,3,4,5,6,7,8,9,10] %>
                <%= f.hidden_field :item_id, :value => @item.id %>
              </th>
              <th><%= f.submit "カートに入れる" %></th>
            </tr>
          </table>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
