<p id="notice"></p>
<div class="container-fluid">
  <div id="error_explanation">
  </div>
  <div class="row ">
    <div class="col-md-2 mx-5 text-center w-50 p-3">
      <div class="border border-dark m-4 h-75">
        <div class="border-bottom border-dark">
          <strong>ジャンル検索</strong>
        </div>
        <% @genres.each do |genre| %>
          <table>
            <tr>
              <th style="padding: 10px 20px">
                <%= genre.name %>一覧
              </th>
            </tr>
          </table>
        <% end %>
      </div>
    </div>
    <div class="col-md-3 my-4 mx-auto">
      <%= image_tag @item.get_image, size: "350x250" %>
    </div>
    <div class="col-md-5 my-4 mx-auto">
      <div style="font-size: 30px; padding: 10px 0;"><strong><%= @item.name %></strong></div>
      <div style="font-size: 25px; padding: 10px 0;"><%= @item.introduction %></div>
      <div style="font-size: 30px; padding-top: 100px;">
        <strong>¥<%= (@item.price * 1.1).round .to_s(:delimited)%></strong>
        <span style="font-size: 15px;">（税込）</span>
      </div>
    </div>
  </div>
</div>
